* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.full-page{
    height: 100vh;
    top: 0;
    left: 0;
}

.info-window-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reroll-btn {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  }
  
  .reroll-btn button {
    background-color: #1CB2E9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .reroll-btn button:hover{
    border: solid;
    border-color: blue;
  }