<img class="img" src="../../../assets/images/food-background.jpg" alt="food-background">
<div>
    <h1>What are you in the mood for?</h1>
    <p>Select your preferences then select search</p>
</div>

<div class="container">
    <ul class="ks-cboxtags">
        <li *ngFor="let cuisine of cuisineList | async; let IndexOfElement=index;">
            <input type="checkbox" id="checkbox{{IndexOfElement}}" name="{{cuisine.type}}" value="{{IndexOfElement}}" (click)="checkBoxHandler($event)">
            <label for="checkbox{{IndexOfElement}}">{{cuisine.type}}</label>
        </li>
    </ul>
</div>

<app-price-slider></app-price-slider>
<app-distance-slider></app-distance-slider>
<div class="container">
    <label class="random">Indecisive? pick a random restaurant from your preferences
        <input type="checkbox" checked="checked" (change)="randomBtnHandler($event)">
        <span class="checkmark"></span>
      </label>
</div>

<div class="search-btn">
    <button type="button" (click)="submit()">Search</button>
</div>

    
